@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

$lightgreen: #85FFC7;
$darkgreen: #297373;
$orange: #FF8552;
$grey: #797979;
$black: #585858;
$darkmaroon: #B61C2E;
$peach: #f36373;
$maroon: #3D1308;
$red: #D83E50;
$darkpink: #e25279;
$lightpink: #FCB9B2;
$lightgrey: #f8f8f8;
$gutter: 5px;
$biggutter: 30px;
$lightgrey: #c3c3c3;